@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Quicksand:wght@300;400;500;600;700&family=Zilla+Slab:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 a{
    font-family: 'Indie Flower';
    font-size: 2rem;
    color: #444;
    text-decoration: none;
}

h2 strong{
    text-transform: capitalize;
}

nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 20px;
    align-items: center;
    border-bottom: 3px solid;
}

ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

ul li a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 700;
    color: #444;
    transition: 1s;
    padding: 10px 20px;
    border-radius: 20px;
}

ul li a:hover {
    color: #ec4cd7;
}

.boas-vindas{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    gap: 50px;
    width: 100%;
    text-align: center;
}

.boas-vindas img{
    width: 50%;
}

.boas-vindas p, .boas-vindas a {
    font-size: 2rem;
}
